html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#f6f1ea;
  overflow-x:hidden;
}

/* MAIN */

.main{
  width:100%;
  overflow:hidden;
}

/* HERO */

.hero{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
    to bottom,
    #f7f2ec,
    #efe6dc
  );

  position:sticky;
  top:0;

  z-index:10;
}

/* ENVELOPE */

.envelope{
  width:320px;
  height:220px;

  background:#7a1e2d;

  position:relative;

  border-radius:6px;

  box-shadow:
  0 30px 80px rgba(0,0,0,0.25);

  animation:
  fadeEnvelope 4s ease forwards;
}

/* LID */

.lid{
  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:50%;

  background:#8f2637;

  clip-path:
  polygon(
    0 0,
    50% 100%,
    100% 0
  );

  transform-origin:top;

  animation:
  openLid 2s ease forwards;
}

/* LETTER */

.letter{
  position:absolute;

  width:88%;
  height:88%;

  background:#fffdfb;

  left:6%;
  top:6%;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  animation:
  pullLetter 2.5s ease forwards;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.12);
}

.date{
  font-size:12px;
  letter-spacing:3px;
  color:#7a1e2d;
  margin-bottom:15px;
}

h1{
  margin:0;

  display:flex;
  flex-direction:column;

  align-items:center;

  color:#7a1e2d;

  font-size:58px;

  font-family:serif;
  font-style:italic;
  font-weight:400;
}

h1 span{
  font-size:34px;
  margin:8px 0;
}

/* INVITATION */

.invitation-wrapper{
  position:relative;

  z-index:20;

  margin-top:-10vh;
}

.invitation{
  width:100%;
  display:block;
}

/* COUNTDOWN */

.countdown{
  position:absolute;

  left:50%;
  transform:translateX(-50%);

  bottom:11.5%;

  width:90%;

  display:flex;
  justify-content:center;

  gap:28px;
}

.countdown div{
  text-align:center;
}

.countdown span{
  font-size:52px;

  color:#7a1e2d;

  font-family:serif;
  font-style:italic;
}

.countdown p{
  margin-top:8px;

  color:#7a1e2d;

  font-size:12px;

  letter-spacing:3px;
}

/* ANIMATIONS */

@keyframes openLid{

  to{
    transform:rotateX(180deg);
  }

}

@keyframes pullLetter{

  to{
    transform:translateY(-100px);
  }

}

@keyframes fadeEnvelope{

  0%{
    opacity:1;
    transform:scale(1);
  }

  70%{
    opacity:1;
  }

  100%{
    opacity:0;
    transform:scale(1.1);
  }

}

/* MOBILE */

@media(max-width:480px){

  .envelope{
    width:280px;
    height:190px;
  }

  h1{
    font-size:48px;
  }

  .countdown{
    gap:18px;
    bottom:11%;
  }

  .countdown span{
    font-size:34px;
  }

  .countdown p{
    font-size:10px;
  }

}